.tipografia-1 {
  font-size: 48px;
}

.tipografia-2 {
    font-size: 40px;
  }

  .tipografia-3 {
    font-size: 36px;
  }

  .tipografia-4 {
    font-size: 30px;
  }

  .tipografia-5 {
    font-size: 24px;
  }

  .tipografia-6 {
    font-size: 18px;
  }

  .tipografia-7 {
    font-size: 12px;
  }